#mainBox {
    display: flex;
    background-color: #ff5050;
    width: 25em;
    height: 7em;
    margin: 5em;
    align-content: center;
    justify-content: space-around;
    flex-direction: column;
}
#userNameTxt, #username, #logInBtn{
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    font-size: larger;
}
