<form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)" id="mainBox">

	<fieldset>
		<label for="username" id="userNameTxt">Username: </label>
		<input 
			type="text"
			placeholder="johndoe"
			#username="ngModel"
			ngModel
			name="username"
			id="username"
			required
			minlength="3"
			maxlength="40" />
	</fieldset>

	<div *ngIf="username.errors && (username.dirty || username.touched)">
		<p *ngIf="username.errors['required']">Username is required</p>
		<p *ngIf="username.errors['minlength']">Username is too short</p>
	</div>

	<button type="submit" [disabled]="loginForm.invalid" id="logInBtn">Login</button>
</form>