<ol>
	<li *ngFor="let mon of pokemon" class="pokemonListItem">
		<img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{mon.url.slice(0, -1).split('/').pop()}}.png"
			alt="{{mon.url}}" >
		{{ mon.name }}
		<span *ngIf="mon.collected">- Collected</span>
		<button *ngIf="!mon.collected" (click)="onPokemonClick(mon)"> {{buttonName}}</button>
	</li>
</ol>