<nav>
	<ng-container *ngIf="user !== undefined" >

		<ul>
			<li>
				<a routerLink="/trainer">
					Trainer
				</a>
			</li>
			<li>
				<a routerLink="/pokemon-catalogue">
					Pokemon catalogue
				</a>
			</li>
		</ul>
	</ng-container>
</nav>