<h1>Pokemon catalogue</h1>
<div id="pokemonList">
  <app-pokemon-list
    [pokemon]="pokemon"
    (clicked)="handlePokemonClick($event)"
    buttonName="Catch">
  </app-pokemon-list>
</div>

<button (click)="loadMore()">Load more</button>